<a href="https://colab.research.google.com/github/mckhannacademy/NBAPlayoffAnalysis/blob/main/NBA_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_games = pd.read_csv("/content/games.csv")
df_details = pd.read_csv("/content/games_details.csv")

<ipython-input-60-d5d709f1d47d>:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_details = pd.read_csv("/content/games_details.csv")

In [ ]:
df_games["GAME_ID"].value_counts()

22000032    2
22000053    2
22000072    2
22000018    2
22000076    2
           ..
21000404    1
21000403    1
21000402    1
21000401    1
11400001    1
Name: GAME_ID, Length: 26622, dtype: int64

In [ ]:
df_games = df_games.drop_duplicates(subset="GAME_ID")

In [ ]:
df_joined =  df_games.merge(df_details, on="GAME_ID", validate="one_to_many")

In [ ]:
df_joined

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668624,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668625,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668626,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668627,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_joined = df_joined[df_joined["SEASON"] > 2018]

In [ ]:
df_joined["COMMENT"] = df_joined["COMMENT"].str[:3]
df_joined = df_joined[df_joined["COMMENT"].isnull()]
df_joined

<ipython-input-66-9939f900f2e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_joined["COMMENT"] = df_joined["COMMENT"].str[:3]

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486165,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,1.0,1.0,2.0,7.0,0.0,0.0,4.0,3.0,14.0,14.0
486166,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,2.0,3.0,5.0,2.0,1.0,0.0,3.0,1.0,14.0,3.0
486167,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,0.0,4.0,4.0,0.0,2.0,2.0,1.0,3.0,10.0,14.0
486168,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,0.0,1.0,1.0,3.0,1.0,0.0,3.0,4.0,5.0,15.0
486169,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,-4.0

In [ ]:
df_joined["AT_HOME"] = df_joined["TEAM_ID_home"] == df_joined["TEAM_ID"]
df_joined["PLAYER_WIN"] = df_joined["AT_HOME"] == df_joined["HOME_TEAM_WINS"]
df_joined["MONTH"] = df_joined["GAME_DATE_EST"].str[5:7].copy()

In [ ]:
df_joined["MONTH"] = df_joined["GAME_DATE_EST"].str[5:7].copy()
df_joined

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,AT_HOME,PLAYER_WIN,MONTH
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,False,False,12
1,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,False,False,12
2,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,False,False,12
3,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,False,False,12
4,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,3.0,0.0,0.0,2.0,2.0,19.0,0.0,False,False,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486165,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,7.0,0.0,0.0,4.0,3.0,14.0,14.0,True,False,10
486166,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,2.0,1.0,0.0,3.0,1.0,14.0,3.0,True,False,10
486167,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,0.0,2.0,2.0,1.0,3.0,10.0,14.0,True,False,10
486168,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,3.0,1.0,0.0,3.0,4.0,5.0,15.0,True,False,10
486169,2019-10-04,11900003,Final,1610612758,1610612754,2019,1610612758,131.0,0.494,0.778,...,0.0,0.0,0.0,0.0,0.0,3.0,-4.0,True,False,10

In [ ]:
df_2021 = df_joined[df_joined["SEASON"] == 2021]
df_2021

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,AT_HOME,PLAYER_WIN,MONTH
14655,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,5.0,4.0,3.0,3.0,0.0,18.0,5.0,False,True,06
14656,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,0.0,0.0,0.0,0.0,0.0,6.0,3.0,False,True,06
14657,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,8.0,2.0,2.0,5.0,1.0,12.0,16.0,False,True,06
14658,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,2.0,2.0,0.0,3.0,3.0,12.0,4.0,False,True,06
14659,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,7.0,2.0,1.0,2.0,4.0,34.0,8.0,False,True,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50986,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,1.0,0.0,0.0,1.0,2.0,0.0,-15.0,True,False,10
50987,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,0.0,0.0,0.0,2.0,0.0,10.0,-18.0,True,False,10
50988,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,0.0,1.0,0.0,1.0,3.0,4.0,-22.0,True,False,10
50989,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,2.0,1.0,1.0,0.0,2.0,1.0,-16.0,True,False,10
50990,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,1.0,1.0,0.0,0.0,1.0,5.0,-5.0,True,False,10

In [ ]:

df_2021.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'TEAM_CITY', 'PLAYER_ID', 'PLAYER_NAME', 'NICKNAME', 'START_POSITION',
       'COMMENT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT',
       'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
       'TO', 'PF', 'PTS', 'PLUS_MINUS', 'AT_HOME', 'PLAYER_WIN', 'MONTH'],
      dtype='object')

In [ ]:
df_2021["MIN"] = df_2021["MIN"].str[:2].copy()
df_2021['MIN'] = df_2021['MIN'].str.replace('\W', '', regex=True).astype(int)
df_2021 = df_2021[df_2021["MIN"] > 20]

<ipython-input-71-db2ca51ec8a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021["MIN"] = df_2021["MIN"].str[:2].copy()
<ipython-input-71-db2ca51ec8a8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['MIN'] = df_2021['MIN'].str.replace('\W', '', regex=True).astype(int)

In [ ]:
df_2021

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,AT_HOME,PLAYER_WIN,MONTH
14655,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,5.0,4.0,3.0,3.0,0.0,18.0,5.0,False,True,06
14657,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,8.0,2.0,2.0,5.0,1.0,12.0,16.0,False,True,06
14658,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,2.0,2.0,0.0,3.0,3.0,12.0,4.0,False,True,06
14659,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,7.0,2.0,1.0,2.0,4.0,34.0,8.0,False,True,06
14660,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,1.0,0.0,0.0,1.0,4.0,0.0,0.0,False,True,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50964,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,2.0,3.0,0.0,2.0,2.0,13.0,20.0,False,True,10
50976,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,3.0,1.0,0.0,1.0,1.0,5.0,-10.0,True,False,10
50979,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,3.0,1.0,0.0,1.0,2.0,10.0,-2.0,True,False,10
50980,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,1.0,0.0,0.0,2.0,1.0,9.0,-6.0,True,False,10
50981,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,0.0,1.0,0.0,0.0,2.0,11.0,3.0,True,False,10

In [ ]:
df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["PLAYER_WIN"]].mean().unstack("PLAYER_NAME").sum().unstack(level=0)

                 PLAYER_WIN
PLAYER_NAME
Aaron Gordon           45.0
Aaron Henry             1.0
Aaron Holiday          10.0
Aaron Nesmith           3.0
Aaron Wiggins          10.0
...                     ...
Zach Collins            5.0
Zach LaVine            42.0
Zavier Simpson          1.0
Zeke Nnaji              5.0
Ziaire Williams        27.0

[524 rows x 1 columns]

In [ ]:
pts_avg = df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["PTS"]].mean().unstack("PLAYER_NAME").mean().unstack(level=0)
fg3_pct_avg = df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["FG3_PCT"]].mean().unstack("PLAYER_NAME").mean().unstack(level=0)
fg_pct_avg = df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["FG_PCT"]].mean().unstack("PLAYER_NAME").mean().unstack(level=0)
ft_pct_avg = df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["FT_PCT"]].mean().unstack("PLAYER_NAME").mean().unstack(level=0)
stl_avg = df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["STL"]].mean().unstack("PLAYER_NAME").mean().unstack(level=0)
blk_avg = df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["BLK"]].mean().unstack("PLAYER_NAME").mean().unstack(level=0)
reb_avg = df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["REB"]].mean().unstack("PLAYER_NAME").mean().unstack(level=0)
to_avg = df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["TO"]].mean().unstack("PLAYER_NAME").mean().unstack(level=0)
plus_minus_avg = df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["PLUS_MINUS"]].mean().unstack("PLAYER_NAME").mean().unstack(level=0)
wins = df_2021.groupby(["PLAYER_NAME", "GAME_ID"])[["PLAYER_WIN"]].sum().unstack("PLAYER_NAME").sum().unstack(level=0)

In [ ]:
pts_avg

                       PTS
PLAYER_NAME
Aaron Gordon     14.743902
Aaron Henry       0.000000
Aaron Holiday     9.736842
Aaron Nesmith    11.571429
Aaron Wiggins    10.388889
...                    ...
Zach Collins     12.333333
Zach LaVine      24.351351
Zavier Simpson   11.000000
Zeke Nnaji       10.300000
Ziaire Williams  11.000000

[524 rows x 1 columns]

In [ ]:
df_season = pd.concat([
    pts_avg,
    fg3_pct_avg,
    fg_pct_avg,
    ft_pct_avg,
    stl_avg,
    blk_avg,
    reb_avg,
    to_avg,
    plus_minus_avg,
    wins
], axis=1)

In [ ]:
df_season.reset_index(inplace=True)
df_season

,PLAYER_NAME,PTS,FG3_PCT,FG_PCT,FT_PCT,STL,BLK,REB,TO,PLUS_MINUS,PLAYER_WIN
0,Aaron Gordon,14.743902,0.331244,0.511634,0.598415,0.560976,0.597561,5.878049,1.707317,4.073171,45.0
1,Aaron Henry,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,1.000000,1.000000,-1.000000,1.0
2,Aaron Holiday,9.736842,0.339211,0.469105,0.407895,1.315789,0.157895,2.736842,1.421053,-1.000000,10.0
3,Aaron Nesmith,11.571429,0.454714,0.452429,0.678571,0.857143,0.285714,3.428571,0.714286,12.285714,3.0
4,Aaron Wiggins,10.388889,0.266972,0.441889,0.509528,0.805556,0.277778,4.388889,1.305556,-5.416667,10.0
...,...,...,...,...,...,...,...,...,...,...,...
519,Zach Collins,12.333333,0.055500,0.533500,0.783333,0.666667,1.166667,9.500000,2.166667,10.000000,5.0
520,Zach LaVine,24.351351,0.391865,0.474230,0.796770,0.662162,0.351351,4.621622,2.621622,0.297297,42.0
521,Zavier Simpson,11.000000,0.083250,0.354250,0.500000,1.250000,1.000000,5.250000,2.500000,-23.750000,1.0
522,Zeke Nnaji,10.300000,0.297200,0.469800,0.616600,0.700000,0.700000,7.000000,1.000000,4.500000,5.0
523,Ziaire Williams,11.000000,0.357211,0.468000,0.434211,0.684211,0.105263,2.789474,0.736842,4.315789,27.0

In [ ]:
df_2021 = df_season.merge(df_2021, on = "PLAYER_NAME",
                          suffixes = ("_avg", ""), validate="one_to_many")

In [ ]:
df_2021.columns

Index(['PLAYER_NAME', 'PTS_avg', 'FG3_PCT_avg', 'FG_PCT_avg', 'FT_PCT_avg',
       'STL_avg', 'BLK_avg', 'REB_avg', 'TO_avg', 'PLUS_MINUS_avg',
       'PLAYER_WIN_avg', 'GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT',
       'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID', 'NICKNAME',
       'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS', 'AT_HOME', 'PLAYER_WIN',
       'MONTH'],
      dtype='object')

In [ ]:
df_2021[["TEAM_ID", "MONTH",
           "PLAYER_WIN"]] = df_2021[["TEAM_ID",
                                       "MONTH",
                                       "PLAYER_WIN"]]

In [ ]:
X_train = df_2021[["MONTH", "TEAM_ABBREVIATION", 'PTS_avg', 'FG_PCT_avg',
                   'FT_PCT_avg', 'STL_avg', 'BLK_avg', 'REB_avg', 'TO_avg',
                   'PLUS_MINUS_avg', 'PLAYER_WIN_avg']]
y_train = df_2021["PLAYER_WIN"]

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, mean_squared_error

# Load the data into a pandas DataFrame
data = df_2021

# Preprocess the data
# Convert 'TEAM_NAME' to binary columns using one-hot encoding
enc = OneHotEncoder()
team_name_enc = enc.fit_transform(data[['TEAM_ABBREVIATION']]).toarray()
team_name_cols = enc.get_feature_names_out(['TEAM_ABBREVIATION'])
team_name_df = pd.DataFrame(team_name_enc, columns=team_name_cols)

# Concatenate the binary columns and numerical columns
X = pd.concat([team_name_df, data[['MONTH', 'PTS_avg', 'FG_PCT_avg', 'FT_PCT_avg', 'STL_avg', 'BLK_avg',
                                   'REB_avg', 'TO_avg', 'PLUS_MINUS_avg']]], axis=1)
y = data['PLAYER_WIN']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

In [ ]:
# from sklearn.model_selection import GridSearchCV

# # Define the hyperparameter grid to search over
# param_grid = {
#     'hidden_layer_sizes': [(50, 50), (50, 16),
#                            (16, 16), (16,8), (16,8,4)],
# }

# # Create an MLPClassifier and GridSearchCV object
# clf = MLPClassifier(random_state=42, solver="sgd", alpha = 0.001)
# grid_search = GridSearchCV(clf, param_grid, cv=5, scoring='f1')

# # Fit the GridSearchCV object to the training data
# grid_search.fit(X_train, y_train)

# # Print the best hyperparameters and the corresponding f1 score
# print("Best parameters: ", grid_search.best_params_)
# print("Best f1 score: {:.2f}".format(grid_search.best_score_))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)
model = MLPClassifier(solver = 'sgd', hidden_layer_sizes= (16, 8, 4),
                      alpha= 0.001, activation= 'relu')
model.fit(X_train, y_train)

# Evaluate the model on the testing data
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print("Accuracy: {:.2f}".format(accuracy))
print("Precision: {:.2f}".format(precision))
print("Recall: {:.2f}".format(recall))
print("F1 score: {:.2f}".format(f1))

Accuracy: 0.61
Precision: 0.59
Recall: 0.71
F1 score: 0.65

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

# Evaluate the model on the testing data
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
print("Accuracy: {:.2f}".format(accuracy))
print("Precision: {:.2f}".format(precision))
print("Recall: {:.2f}".format(recall))
print("F1 score: {:.2f}".format(f1))



# Predict the probability of winning for the test data
y_pred_proba = model.predict_proba(X_test)[:, 1]

# Print the probability estimates for the first 10 test instances
print(y_pred_proba[:10])

Accuracy: 0.62
Precision: 0.61
Recall: 0.69
F1 score: 0.65
[0.66652362 0.43305535 0.54345739 0.33606196 0.67605908 0.60618211
 0.43305535 0.51116956 0.59398412 0.5395372 ]

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

pipeline = make_pipeline(
    ColumnTransformer([("Scaled Quants", StandardScaler(), ['PTS_avg', 'FG_PCT_avg',
                   'FT_PCT_avg', 'STL_avg', 'BLK_avg', 'REB_avg', 'TO_avg',
                   'PLUS_MINUS_avg'],)],
                      remainder="drop"),
    LogisticRegression()
)

In [ ]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('Scaled Quants',
                                                  StandardScaler(),
                                                  ['PTS_avg', 'FG_PCT_avg',
                                                   'FT_PCT_avg', 'STL_avg',
                                                   'BLK_avg', 'REB_avg',
                                                   'TO_avg',
                                                   'PLUS_MINUS_avg'])])),
                ('logisticregression', LogisticRegression())])

In [ ]:
df_2021.columns

Index(['PLAYER_NAME', 'PTS_avg', 'FG3_PCT_avg', 'FG_PCT_avg', 'FT_PCT_avg',
       'STL_avg', 'BLK_avg', 'REB_avg', 'TO_avg', 'PLUS_MINUS_avg',
       'PLAYER_WIN_avg', 'GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT',
       'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID', 'NICKNAME',
       'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS', 'AT_HOME', 'PLAYER_WIN',
       'MONTH'],
      dtype='object')

In [ ]:
def create_lineup(abr):
  df = df_2021[df_2021["TEAM_ABBREVIATION"] == abr].copy()
  df = df.iloc[:,0:11].drop_duplicates()
  final_lineup = df.sort_values(by="PLAYER_WIN_avg", ascending=False)[0:6]
  final_lineup["MONTH"] = 4
  final_lineup["TEAM_ABBREVIATION"] = abr
  return final_lineup

In [ ]:
def predict_result(player):
  X = df_season[df_season["PLAYER_NAME"] == player].copy()
  X["MONTH"] = 4

  columns_to_suffix = ['PTS', 'FG3_PCT', 'FG_PCT', 'FT_PCT',
                       'STL', 'BLK', 'REB', 'TO',
                       'PLUS_MINUS','PLAYER_WIN']
  X = X.iloc[:, 1:]
  suffix = '_avg'
  for col in columns_to_suffix:
    if col in X.columns:
        X.rename(columns={col: col + suffix}, inplace=True)

  prob=pipeline.predict_proba(X)[:,1]

  return prob

In [ ]:
df_season

,PLAYER_NAME,PTS,FG3_PCT,FG_PCT,FT_PCT,STL,BLK,REB,TO,PLUS_MINUS,PLAYER_WIN
0,Aaron Gordon,14.743902,0.331244,0.511634,0.598415,0.560976,0.597561,5.878049,1.707317,4.073171,45.0
1,Aaron Henry,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,1.000000,1.000000,-1.000000,1.0
2,Aaron Holiday,9.736842,0.339211,0.469105,0.407895,1.315789,0.157895,2.736842,1.421053,-1.000000,10.0
3,Aaron Nesmith,11.571429,0.454714,0.452429,0.678571,0.857143,0.285714,3.428571,0.714286,12.285714,3.0
4,Aaron Wiggins,10.388889,0.266972,0.441889,0.509528,0.805556,0.277778,4.388889,1.305556,-5.416667,10.0
...,...,...,...,...,...,...,...,...,...,...,...
519,Zach Collins,12.333333,0.055500,0.533500,0.783333,0.666667,1.166667,9.500000,2.166667,10.000000,5.0
520,Zach LaVine,24.351351,0.391865,0.474230,0.796770,0.662162,0.351351,4.621622,2.621622,0.297297,42.0
521,Zavier Simpson,11.000000,0.083250,0.354250,0.500000,1.250000,1.000000,5.250000,2.500000,-23.750000,1.0
522,Zeke Nnaji,10.300000,0.297200,0.469800,0.616600,0.700000,0.700000,7.000000,1.000000,4.500000,5.0
523,Ziaire Williams,11.000000,0.357211,0.468000,0.434211,0.684211,0.105263,2.789474,0.736842,4.315789,27.0

In [ ]:
create_lineup("MIN")

,PLAYER_NAME,PTS_avg,FG3_PCT_avg,FG_PCT_avg,FT_PCT_avg,STL_avg,BLK_avg,REB_avg,TO_avg,PLUS_MINUS_avg,PLAYER_WIN_avg,MONTH,TEAM_ABBREVIATION
9659,Karl-Anthony Towns,23.869048,0.380381,0.530738,0.823024,0.964286,1.154762,9.750000,3.154762,3.047619,49.0,4,MIN
697,Anthony Edwards,21.666667,0.338037,0.433099,0.701926,1.444444,0.666667,4.691358,2.691358,2.098765,44.0,4,MIN
2939,D'Angelo Russell,17.972222,0.347028,0.406833,0.699694,1.041667,0.291667,3.263889,2.569444,2.736111,44.0,4,MIN
7843,Jarred Vanderbilt,7.516667,0.033333,0.616483,0.418050,1.450000,0.650000,9.450000,1.016667,3.183333,38.0,4,MIN
7092,Jaden McDaniels,10.063492,0.311857,0.475365,0.358476,0.793651,0.873016,4.523810,1.111111,0.460317,36.0,4,MIN
13683,Patrick Beverley,9.827586,0.305638,0.410534,0.511138,1.224138,1.017241,4.517241,1.413793,1.586207,33.0,4,MIN

In [ ]:
import numpy as np

teams = df_2021["TEAM_ABBREVIATION"].drop_duplicates().values

team_results = []

for team in teams:
  lineup = create_lineup(team)
  player_results = []

  for player in lineup["PLAYER_NAME"]:
    player_results.append(predict_result(player))
  team_results.append(sum(player_results)/len(player_results))

results = np.squeeze(team_results)

data = {'Team': teams, 'Probability': results}

df = pd.DataFrame(data).sort_values(by="Probability", ascending=False)

print(df)

   Team  Probability
2   PHX     0.650933
13  GSW     0.638849
4   BOS     0.624702
23  MEM     0.615606
19  MIL     0.613857
18  MIA     0.603765
21  UTA     0.600247
0   DEN     0.572596
1   PHI     0.570883
26  DAL     0.552146
12  BKN     0.549935
16  MIN     0.540138
28  SAS     0.535422
24  CLE     0.534461
17  TOR     0.534450
20  ATL     0.532563
29  CHA     0.507093
8   CHI     0.500922
7   NYK     0.486460
11  LAC     0.477221
25  NOP     0.457254
15  LAL     0.439383
3   WAS     0.435078
22  IND     0.426040
14  POR     0.421408
9   SAC     0.390438
6   ORL     0.361606
10  HOU     0.350173
5   OKC     0.340106
27  DET     0.319900